<!doctype html>

<html xmlns:ng="http://angularjs.org" class="ng-app:Examen1_Cine" id="ng-app" ng-app="Examen1_Cine">
	<head>
	    <meta charset="utf-8">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		
		<script src="resources/js/lib/jquery-1.8.2.js"></script>
		<script src="resources/js/lib/angular/angular.js" ng:autobind></script>
		<script src="resources/js/app.js"></script>
		<script src="resources/js/services.js"></script>
		<script src="resources/js/controllers/LogginController.js"></script>
		<script src="resources/js/controllers/PeliculasController.js"></script>
		<script src="resources/js/controllers/SeleccionarAsientoController.js"></script>
		<script src="resources/js/controllers/FacturaController.js"></script>
		<script src="resources/bootstrap/js/bootstrap.min.js"></script>

		<link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"  type="text/css" />
		<link href="resources/css/app.css" rel="stylesheet"  type="text/css" />

	</head>
	
	<body>
		
		<div id="wrapper" >

			<!-- APerez: Login -->
			<div class="container contenedor-principal" ng-controller="LogginController" ng-show="esVisible">
				<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
					<h3 id="alternate-elements">Iniciar sesion</h3>
					<p>Por favor ingresar el nombre y contraseña para iniciar sesion.</p>
					<img src="resources/img/logo_progium.png" alt="Smiley face" class="pull-right logo-progium">
				</div>

				<form class="form-signin">
					<label for="inputEmail" class="sr-only">Nombre</label>
					<input id="inputEmail" class="form-control" placeholder="Usuario" ng-model="nombre" required="" autofocus="">
					<label for="inputPassword" class="sr-only">Contraseña</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" ng-model="contrasenna" required="">
					<!-- <div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Recordarme
						</label>
					</div> -->
					<br/>
					<button class="btn btn-lg btn-primary btn-block" ng-click="iniciarSesion()">Entrar</button>
					<span ng-show="mostrarMensaje" class="mensaje">Nombre o contraseña inválidas</span>
				</form>
			</div>

			<!-- JPerez: Listar peliculas y tandas -->

			<div class="container contenedor-principal" ng-controller="PeliculasController" ng-show="esVisible">
				<div class="row">
					<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
						<h3 id="alternate-elements">Lista de peliculas y tandas disponibles</h3>
						<p>Por favor seleccionar la pelicula y tanda preferida.</p>
						<img src="resources/img/logo_progium.png" alt="Smiley face" class="pull-right logo-progium">
					</div>

					<div class="col-sm-3" ng-repeat="pelicula in listaPeliculas">

			    	    <div class="hero-widget well well-sm" ng-class="{ 'pelicula-selected': hovering }" ng-click="seleccionarAsiento(objAsiento)" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
			                <div class="text">
			                    <label class="text-muted">Pelicula: {{pelicula.nombre}}</label>
			                    <label class="text-muted">Tanda: {{pelicula.tanda}}</label>
			                    <label class="text-muted">Precio: {{pelicula.precio}}</label>
			                    <button type="button" ng-click="reservar(pelicula)"> Reservar </button>
			                </div>

			                <div class="options">
			                </div>

			            </div>
					</div>
				</div>
			</div>

		    <!-- YArias: Seleccionar Asiento -->
		   	<div class="container contenedor-principal"  ng-controller="SeleccionarAsientoController" ng-show="esVisible">
				
				<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
					<h3 id="alternate-elements">Seleccionar los asientos</h3>
					<p>Por favor seleccionar los asientos de tu preferencia.</p>
					<p><b>Pelicula:</b>{{datosPelicula.nombre}}</p>
					<p><b>Fecha:</b>{{datosPelicula.tanda}}</p>
					<h4>{{mensaje}}</h4>
					<img src="resources/img/logo_progium.png" alt="Smiley face" class="pull-right logo-progium">
				</div>


				<div class="row" ng-repeat="objFila in filas">
					<div class="col-sm-3" ng-repeat="objAsiento in objFila.asientos">
			    	    <div class="hero-widget well well-sm" ng-class="{ 'selected': objAsiento.estaSeleccionada }" ng-click="seleccionarAsiento(objAsiento)">
			                <div class="icon">
			                     <i id="icon{{$index}}" class="glyphicon glyphicon-unchecked "></i>
			                </div>
			                <div class="text">
			                    <var>{{objAsiento.codigoAsiento}}</var>
			                </div>
			                <div class="options">
			                </div>
			            </div>
					</div>
				</div>
				<div class="col-sm-3 button-next">
					<button ng-show="botonVisible" ng-click="mostrarDetallesCompra()" class="btn btn-success pull-right">Continuar</button>
				</div>
			</div>

			<!-- MLeandro: Mostrar informacion del boleto -->
			<div class="container contenedor-principal" ng-controller="FacturaController" ng-show="esVisible">
				<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
					<h3 id="alternate-elements">Detalles de la compra</h3>
					<p>Sus boletos estan listos para ser procedos, confirmar los detalles de la orden.</p>
					<img src="resources/img/logo_progium.png" alt="Smiley face" class="pull-right logo-progium">
				</div>

				<h3>Cin&eacute;polis Paseo Metr&oacute;poli</h3>

				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<colgroup>
						<col class="col-xs-1">
						<col class="col-xs-7">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">
									Pel&iacute;cula:
								</th>
								<td>{{pedido.pelicula}} </td>
							</tr>
							<tr>
								<th scope="row">
									Fecha:
								</th>
								<td>{{pedido.fecha}}</td>
							</tr>
							<tr>
								<th scope="row">
									N&uacute;mero de Tarjeta:
								</th>
								<td>{{pedido.numTarjeta}}</td>
							</tr>
							<tr>
								<th scope="row">
									Asientos:
								</th>
								<td>
									<div ng-repeat="asiento in pedido.asientos">
										{{asiento}}
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">
									<code>TOTAL:</code>
								</th>
								<td>{{pedido.total}}</td>
							</tr>
						</tbody>
					</table>

					<button ng-click="aceptar()" class="btn btn-success pull-right">ACEPTAR</button>
				</div>

			</div>
		</div>		
	</body>
	
</html>